<h2>System Management</h2>

<table class="table table-bordered">
    <tr>
        <th>Controller</th>
        <th>Actions</th>
    </tr>

    <tr>
        <td>Home</td>
        <td>Index</td>
    </tr>

    <tr>
        <td>Visitor</td>
        <td>Index, Create, Edit, Delete, Details</td>
    </tr>

    <tr>
        <td>User</td>
        <td>Users, Admins, CreateUser, CreateAdmin</td>
    </tr>

    <tr>
        <td>Menu</td>
        <td>Index, Create, Edit, Delete</td>
    </tr>
</table>